/**********************
       TABLIST
**********************/
#tablist{
padding: 3px 0;
margin-left: 0;
margin-bottom: 0;
margin-top: 0.1em;
font: bold 11px Verdana;
border-bottom: 3px solid black;
}

#tablist li{
list-style: none;
display: inline;
margin: 0;
}

#tablist li a{
text-decoration: none;
padding: 3px 0.5em;
margin-left: 5px;
border: 1px solid #778;
border-bottom: none;
background: white;
}

#tablist li a:link, #tablist li a:visited{
color: #303030;
}


#tablist li a:hover{
color: black;
background: #F8F8F8;
border-color: navy;
}

#tablist li a.current{
background: #C8C8C8;
}

/**********************
       SUBTABLIST
**********************/
#subtablist{
padding: 3px 0;
margin-left: 0;
margin-bottom: 0;
margin-top: 0px;
font: bold 11px Verdana;
}

#subtablist li{
list-style: none;
display: inline;
margin: 0;
}

#subtablist li a{
text-decoration: none;
padding: 3px 0.5em;
margin-left: 5px;
border: 1px solid #778;
border-top: none;
background: white;
}

#subtablist li a:link, #subtablist li a:visited{
color: #303030;
}


#subtablist li a:hover{
color: black;
background: #F8F8F8;
border-color: navy;
}

#subtablist li a.current{
background: #C8C8C8;
}


