* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	padding: 0;
}

#header { 
	width: 950px;
	height: 104px;
	margin: 0 auto;
	padding: 0;
	position: relative; 
	padding: 5px 0 0 0;
        font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 35px;
}

#notes { 
	width: 950px;
	margin: 100 auto;
	padding: 100;
	position: relative; 
	padding: 5px 0 0 0;
        font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
	text-align: left;
	background: #c0c0c0;
}

#clock {
	float: right;
}

#subtitle {
        font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size:14px;
}
