
/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 760px;
	height: 90px;

	/* custom decorations */
/* daniel
	border:1px solid #ccc;
	background:url(/img/global/gradient/h300.png) repeat-x;
*/
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.items div {
	float:left;
	width:765px;
}

/* single scrollable item */
.scrollable img {
/*
	float:left;
	margin: 5px;
	background-color:#fff;
	padding:2px;
	border:1px solid #ccc;
	width:50px;
	height:30px;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
*/
	float:center;
	margin: 5px;
	background-color:#fff;
	padding: 0px;
	border:2px solid #ccc;
	width:110px;
	height:80px;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

/* active item */
.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}


/* styling for the image wrapper  */
#image_wrap {
	/* dimensions */
/*
	width:677px;
	margin:15px 0 15px 40px;
	padding:15px 0;
	width:100%;
*/
	width:980px;
	height:555px;
	margin:0;
	padding:0;

	/* centered */
	text-align:center;

	/* some "skinning" */
/*
	background-color:#efefef;
	border:2px solid #fff;
	outline:1px solid #ddd;
	background-color:#ffffff;
*/
	background-color:#383838;
	-moz-ouline-radius:4px;
}


.crop{
	float:left;
	margin:.5em 10px .5em 0;
	overflow:hidden; /* this is important */
	border:1px solid #ccc;
	}
	/* input values to crop the image: top, right, bottom, left */
.crop img{
	margin:-20px -15px -40px -55px;
	}




