
/*{{{ very basic styles */

body {
	margin:0;
	background-color:#fff;
	padding:0 0 50px 0;
}

body, p, div, a {
	font-family:"Lucida Grande","Lucida Sans Unicode","bitstream vera sans","trebuchet ms",verdana,sans-serif;
	font-size:12px;
}

a {
	color:#295c72;		
	outline:none;
}

a.external {
	background:transparent url(/img/global/external.png) no-repeat scroll right 0;
	padding-right:15px;		
}


.clear, hr {
	clear:both;
	display:block;
	font-size:1px;
	height:10px;
	line-height:10px;
	margin:0pt;
	padding:0pt;
}

hr {
	margin:-5px 0px 5px 0;
	border:1px solid #ccc;
	border-width:1px 0 0 0;
}

.col {
	float:left;
	margin-right:20px;
}

.col50 {
	float:left;
	margin-right:40px;
	width:350px;
}

.feat 	{ width:350px; padding-right:15px; border-right:1px solid #ccc; margin-right:25px; float:left; min-height:100px;}

.last {
	 margin:0 !important; 
	 padding:0; 
	 border:0;
}

.col h2 {
	margin:0 0 5px 0;		
}

img {
	border:0;		
}

table {
	border-collapse:collapse;		
}

a:active {
  outline:none;
}

:focus, button {
  -moz-outline-style:none;
}

#content li, #content li, #right .smaller li {	
	margin-top:7px;	
}

#content ul li, #right .smaller li {
	list-style-image:url(/img/global/bullet.png);
}

#right .smaller {
	margin-top:20px;
}

#right .smaller .selected {
	cursor:default;
	color:#000;
	font-weight:bold;
}

body.ie7 #content ul, body.ie7 #content ol {
	margin-left:50px;
}

.rounded {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

/*}}}*/


/*{{{ typo */

h1, h2, h3, h4 {
	font-weight:normal;
	color:#444; 
	margin:35px 0 -5px 0;
}

h2 { font-size:22px; }
h3 { font-size:14px;	font-weight:bold; margin-bottom:-8px; color: #111; }
h4 { font-size:14px;	margin-top:20px; }

h1 em, h2 em, h3 em, h4 em {
	font-style:normal;
	color:rgb(45, 90, 195);
}

ul, ol, p, table {
	margin:10px 0px;		
}

samp {
	color:#112699;		
}

.first {
	margin-top:0px;		
}

.lower {
	margin-top:20px !important;		
}

.higher {
	margin-top:40px !important;	
}

.red {
	color:#bf0d00;	
}

.blue {
	color:#2D5AC3;	
}

p.more {
	margin:20px 0; 
	color:#666;
}

p.more, p.more a {
	font-size:16px;	
}

.center {
	text-align:center;		
}
/*}}}*/

