/* JQUERY CSS AND CODING */
/* TAB CLASSES */


.panel {
	padding: 0px 0px;
}

.panes {
	padding: 0px 0px;
	border-top: 0;
	font-size: 18px;
}

/* root element for tabs  */
ul.tabs { 
	list-style:none; 
	margin:0 !important; 
	padding:0;	
}

/* single tab */
ul.tabs li { 
	display:inline;
}

/* link inside the tab */
ul.tabs a { 
}

ul.tabs a:active {
	outline:none;		
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
	color:#000;	
}

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	cursor:default !important; 
	/* 
	color:#000 !important;
	daniel - marca qual item estah selecionado !
	color:#000 !important;
	*/
}


/* initially all panes are hidden */ 
div.panes div.pane {
	display:none;		
}

